@model UVirtualClass.Models.EditarCursoVM

@{
    ViewBag.Title = "EditarCurso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-listados-logo">
    <img src="~/img/Logi2.png" />
    <h2>Editar Curso</h2>
</div>

@using (Html.BeginForm("EditarCurso", "AdminHome", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="grid-container-editarcurso">
        <div class="contenidocurso-editarcurso">
            <div class="nombrecurso-editarcurso"><h2><b> @Html.DisplayFor(model => model.Nombre)</b></h2></div>
            <div class="descripcioncurso-editarcurso"><b>Descripcion: </b> @Html.DisplayFor(model => model.Descripcion)</div>
            <div class="recursos-editarcurso"><b>Recursos: </b> @Html.DisplayFor(model => model.Recursos)</div>
            <div class="precio-editarcurso"><b>Precio: </b> $@Html.DisplayFor(model => model.Costo)</div>
            <div class="Docente-editarcurso"><b>Docente: </b> @Html.DisplayFor(model => model.NombreDocente)</div>
        </div>
        <div class="imagen-editarcurso">
            <img src="@Html.DisplayFor(model => model.Foto)" width="100%" />
        </div>
    </div>

    <table class="table table-hover">
        <tr>
            <th style="background-color:black; color:white;">
                Tema
            </th>
            <th style="background-color:black; color:white;" width="60%">
                Descripción
            </th>
        </tr>
        @foreach (var item in Model.temario)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
            </tr>
        }

    </table>

    <div>
        <a href="@Url.Action("CrearTemario", "AdminHome")" class="btn btn-warning"><i class="fas fa-plus"></i><b> Agregar nuevo tema</b></a>
    </div>
}
