@model IEnumerable<UVirtualClass.DataContext.ViewAlumnos>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner-listados-logo">
    <img src="~/img/Logi2.png" />
    <h2>Listado de Alumnos</h2>
</div>

<p class="btn btn-primary"> 
    @Html.ActionLink("Crear Nuevo Alumno", "CrearAlumno")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Fecha_de_Nacimiento)*@
            <strong>Fecha de Nacimiento</strong>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Género)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Tipo_Usuario)*@
            <strong>Tipo de Usuario</strong>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_de_Nacimiento)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Género)*@
                @if (item.Género == 'M')
                {
                    <p>Masculino</p>
                }
                else
                {
                    <p>Femenino</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Tipo_Usuario)*@
                <p>Alumno</p>
            </td>
            <td>
                @Html.ActionLink("Editar", "EditaAlumno", new { id=item.IdAlumno }, new { @class = "btn btn-success" })
                @*@Html.ActionLink("Delete", "Delete", new { id=item.IdAlumno }, new { @class = "btn btn-danger" })*@
                <button type="submit" id="btn-Eliminar" class="btn btn-danger" data-codigo="@item.IdAlumno">Eliminar</button>
            </td>
        </tr>
    }


</table>
<input id="MiAccion" type="hidden" value="@ViewBag.Accion" />

<input type="hidden" id="AccionEliminarAlumno" value="@Url.Action("EliminarAlumno", "AdminHome")" />

@section Scripts{

    <script type="text/javascript">
            var accion = $('#MiAccion').val();
            $(document).ready(function (s) {
                if (accion == "AlumnoCreado") {
                    swal("Bien!", "El Alumno se ha creado Correctamente.", "success");
                } if (accion == "AlumnoEditado") {
                    swal("Exito!", "El registro se modificó Correctamente.", "success");
                } if (accion == "Error") {
                    swal("Lo Sentimos!", "Parece que algo salio mal, vuelve a intentarlo", "warning");
                };
            });

            $("#btn-Eliminar").on("click", function (e) {
                e.preventDefault();
                var id = $(this).data('codigo');

                swal({
                    title: "¿Está seguro?",
                    text: "Este Alumno sera eliminado y tambien su usuario!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Sí, eliminarlo!",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                type: "post",
                                url: $("#AccionEliminarAlumno").val(),
                                dataType: "json",
                                data: { idAlumno: id },
                                success: function (res) {

                                    //swal("Exito", "El registro se elimino correctamente!", "success");
                                    swal({
                                        title: "Exito",
                                        text: "El registro se elimino correctamente!",
                                        type: "success"
                                    }, function () {
                                        window.location.reload();
                                    });

                                },
                                error: function (er) {
                                    swal("Oops!", "Ha Ocurrido un problema y no se pudo eliminar el registro!", "error");
                                }
                            });
                        }
                    });
            })

     </script>

}